.dlsearchcontainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f7faff;
    border-radius: 5px;
    padding: 10px;
}

/* Search input field */
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: #f7faff;
    border-bottom: solid 1px #063a75;
}

/* Magnifying glass icon */
.search-icon {
    margin-left: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.search-result-title {
    font-size: 1.5em;
    color: #074b99;
}

.search-result {
    margin-top: 2em;
    padding: 2em;
    box-shadow: 5px 5px 5px rgb(184, 220, 235);
    cursor: pointer;
}

.search-result:hover {
    background-color: #f7faff;
}

.error {
    background-color: bisque;
    padding: 1em;
    margin-top: 2em;
    font-size: 1em;
}